@model  StudentManagement.Models.StudentClass

@{
    ViewData ["Title"] = "Create";
}

<h2 class="text-info">Create School Class Type</h2>

<form asp-action="Create" method="post">

    <div classs="p-4 rounded border">

        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>


        <div class="form-group row">

            <div class="col-sm-2">
                <label asp-for="ClassName"></label>

            </div>


            <div class="col-sm-4">
                <input asp-for="ClassName" class="form-control" />

            </div>


            <span asp-validation-for="ClassName" class="text-danger"></span>

        </div>

        <div class="form-group">

            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>

        </div>



    </div>

</form>

@section  Scripts{

    @{ await Html.RenderPartialAsync(partialViewName:"_ValidationScriptsPartial");}

}